.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #000000;
  color: #ffffff;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  justify-content: center;
  gap: 10px;
}

.containerSkills {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  gap: 8px;
}

.titulo {
  text-align: left;
  padding: 1px;
  border-bottom: 1px solid #666565c4;
  border-radius: 2px;
}

.subtitulo {
  color: #666565c4;
  font-size: 1.2rem;
}

.skill {
  background-color: #666565c4;
  height: 75px;
  display: grid;
  grid-template-columns: repeat(1, 98%);
  grid-template-rows: 70% 30%;
  text-align: center;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}

.p {
  font-weight: 100;
  font-size: 1.2rem;
}

.imgLogo {
  width: auto;
  height: 100%;
}

.imgLogo:hover {
  filter: brightness(50%);
}

.containerBtn {
  padding-top: 10px;
}
.btnCv {
  background-color: transparent;
  padding: 6px 15px;
  border-radius: 6px;
  color: #84c9d9;
  border: solid 1px #84c9d9;
  cursor: pointer;
  font-size: 1.2rem;
}

.btnCv:hover {
  border: solid 1px white;
  color: #ffffff;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 800px) {
  .container {
    height: 100vh;
  }
  .titulo {
    text-align: center;
  }
  .containerGrid {
    grid-template-columns: repeat(1, 90%);
  }
  .containerSkills {
    grid-template-columns: repeat(auto-fill, 26%);
  }
}
