.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #000000;
    color: #ffffff;
}

.containerGrid{
    display: grid;
    grid-template-columns:repeat(2,49%);
    justify-content: center;
    gap: 10px;
}

.containerSkills{
    display: grid;
    grid-template-columns: repeat(auto-fill,20%);
    gap: 8px;
}

.h1{
  text-align: center;
  padding: 10px;
  }

.subtitulo{
  color:#666565c4;
  font-size: 1.2rem;
}

.skill{
  background-color: #666565c4;
  height: 75px;
  display:grid;
  grid-template-columns: repeat(1,100%);
  grid-template-rows: 70% 30%;
  text-align: center;
  font-size: 1.1rem;
  padding: 3px;
  border-radius: 4px;
}

.p{
  font-weight: 100;
  font-size: 1.2rem
}

.imgLogo{
  width: auto;
  height: 100%;
}

.imgLogo:hover{
  filter: brightness(10%);
}

.btnCv{
  background-color: transparent;
  padding: 6px 15px;
  border-radius: 6px;
  color:#84C9D9;
  border: solid 1px #84C9D9;
  cursor: pointer;
  font-size: 1.2rem;
}

.btnCv:hover{
  border: solid 1px white;
  color: #ffffff;
}
  
@keyframes blink {
  50%{border-color: transparent;}
}

@media (max-width:800px){
  .containerGrid{
    grid-template-columns:repeat(1,90%);
  }
  .containerSkills{
    grid-template-columns: repeat(auto-fill,26%);
  }
}