.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #84C9D9;
}

.h1{
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 31ch;
  animation: typing 2s steps(10),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}

.h1 span {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing:5px;
  text-align: center;
  background: url("/developer.jpg");
  background-size: 50%;
  background-position: 50% 50%;
  background-clip: text;
  color: rgba(0, 0, 0, 0.08);
  animation: zoomout 10s ease 900ms forwards;
  padding: 9px;
  text-shadow: -10px 7px 0   #0000000e, -10px 7px 0 

}

@keyframes typing {
  from{width: 0;}
}

@keyframes blink {
  50%{border-color: transparent;}
}


@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 60%;
  }
}

@media (max-width: 800px) {
  .h1 span {
    font-size: 1.8em;
  }
}
